*{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
    
}
html{
    background-image: url(../img/bg.png);
    background-size: 100%;
    background-position:bottom ;
    background-repeat:no-repeat ;
    min-height: 100vh;
    min-width: 100wh;
}
html::before {
    content: "";
    position: fixed; /* Or absolute, depending on layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% black tint */
    z-index: -1; /* Make sure your content is on top */
    pointer-events: none; /* Allows interaction through the overlay */
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form input{
    height: 70px;
background-color: rgba(255, 255, 255, 0.716);
border: 5px black;
text-align: center;
color: rgb(0, 0, 0);
border-radius: 10px;
font-size: 25px;
transition: .2s;
}
.form input:focus{
    transform: scale(1.1);
}
.form button{
    width: 150px;
    height: 50px;
    color: black;
    margin-top:10px ;
    border-radius: 15px;
    font-size: 25px;
    transition: .1s;
}
.form button:active{
    transform: scale(.96);
}