*{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
    
}
html, body{
 height: 100%;
 margin: 0;
 padding: 0;
}
body{
    min-height: 100vh;
      background-image: url(../img/bg.png);
  background-size: cover;      /* Or 'contain' depending on your design */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form input{
    height: 70px;
background-color: rgba(255, 255, 255, 0.716);
border: 5px black;
text-align: center;
color: rgb(0, 0, 0);
border-radius: 10px;
font-size: 25px;
transition: .2s;
}
.form input:focus{
    transform: scale(1.1);
}
.form button{
    width: 150px;
    height: 50px;
    color: black;
    margin-top:10px ;
    border-radius: 15px;
    font-size: 25px;
    transition: .1s;
}
.form button:active{
    transform: scale(.96);
}